<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Caculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-label>Hours #</ion-label>
    <ion-input type="number" [(ngModel)]="totalHours" placeholder="00"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Hourly Rate</ion-label>
    <ion-input type="number" [(ngModel)]="hourlyRate" placeholder="00.00"></ion-input>
  </ion-item>

  <ion-button expand="block" color="warning" (click)= "calculatePay()"  >Calculate</ion-button>

  <ion-item>
    <ion-label>Regular Pay</ion-label>
    <ion-label>{{ rgPay }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Overtime Pay</ion-label>
    <ion-label>{{ ovtPay }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Total Pay</ion-label>
    <ion-label>{{ ttlPay }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Tax</ion-label>
    <ion-label>{{ ttlTax }}</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>Net Income</ion-label>
    <ion-label>{{ ntIncome }}</ion-label>
  </ion-item>

</ion-content>
